#root {
  background-color: #FEFAF6;
  z-index: -1;
}


.todo-list .card {
  background-color: #FEFAF6;
  color: #102C57;
  font-size: medium;
  font-weight: light;
  margin-bottom: 2%;
}

.todo-list .card .card-body {
  padding-top: 0;
  padding-bottom: 0;
}


