.add-task {
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 10%;
}

.add-task>button {
  background-color: #DAC0A3;
  color: #FEFAF6;
  margin: 0%;
}

.add-task>input {
  border-color: #DAC0A3;
  background: transparent;
  margin-right: 10px;
}

.add-task>input::placeholder {
  color: #DAC0A3;
  opacity: 1;
  font-weight: lighter;
}

.add-task .priority-flags {
  justify-items: auto;
  margin-right: 1rem;
}

.add-task .priority-flags .priority-red>i {
  color: #F6685E;
}

.add-task .priority-flags .priority-yellow>i {
  color: #FFC04C;
}

.add-task .priority-flags .priority-green>i {
  color: #66B266;
}

.add-task .priority-flags>input[type='radio'] {
  display: none;
}

label {
  /* display: inline-block; */
  border-radius: 0.1rem;
  border-color: #DAC0A3;
  padding: 0.5rem;
  text-align: center;
}

input[type='radio']:checked+label {
  background-color: #EADBC8;
}