.tasks {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
}

.tasks .heading {
  color: #102C57;
  font-weight: lighter;
  font-size: medium;
  padding-right: 1rem;
}

.tasks .todo-list .card .card-body {
  font-size: medium;
  float: right;
  padding-top: 1rem;
}

.tasks .todo-list .card .card-body .task {
  color: #102C57;
  font-weight: lighter;
  font-size: medium;
  padding-right: 1rem;
  float: left;
}

.tasks .todo-list .card .card-body .done {
  text-decoration: line-through;
}

.tasks .todo-list .card .card-body .btn {
  color: #102C57;
  font-size: medium;
  float: right;
}


.tasks .todo-list .card .card-body .priority-red {
  color: #F6685E;
  text-decoration: underline 0.5px;
}

.tasks .todo-list .card .card-body .priority-yellow {
  color: #FFC04C;
  text-decoration: underline 0.5px;
}

.tasks .todo-list .card .card-body .priority-green {
  color: #66B266;
  text-decoration: underline 0.5px;
}