.tasks .todo {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
}

.tasks .todo .task {
  color: #102C57;
  font-weight: lighter;
  font-size: medium;
  padding-right: 1rem;
}

.tasks .todo .due {
  color: #102C57;
  font-weight: lighter;
  font-size: medium;
  padding-right: 1rem;
  text-decoration: underline 0.5px;
}

.tasks .todo .todo-list .card .card-body .done-check {
  color: #102C57;
  font-size: medium;
  float: right;
  /* padding-top: 1rem; */
}

.tasks .todo .todo-list .card .card-body>p {
  color: #102C57;
  font-size: medium;
  float: left;
}

.tasks .todo .todo-list .card .card-body .priority-red {
  color: #F6685E;
}

.tasks .todo .todo-list .card .card-body .priority-yellow {
  color: #FFC04C;
}

.tasks .todo .todo-list .card .card-body .priority-green {
  color: #66B266;
}
.done {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
}
.done .task {
  color: #102C57;
  font-weight: lighter;
  font-size: medium;
}
.done .todo-list .card .card-body  > p {
  color: #102C57;
  text-decoration: line-through;
  font-size: medium;
  float: left;
  padding-top: 1rem;
}

.done .todo-list .card .card-body .done-trash {
  color: #102C57;
  font-size: medium;
  float: right;
  padding-top: 1rem;
}

.tasks .todo .todo-list .card .card-body {
  font-size: medium;
  float: right;
  padding-top: 1rem;
}

.todo .todo-list .card .card-body .done-priority-red {
  color: #F6685E;
  font-size: medium;
  float: right;
  padding-top: 1rem;

}

.tasks .todo .todo-list .card .card-body .done-priority-yellow {
  color: #FFC04C;
  font-size: medium;
  float: right;
  padding-top: 1rem;

}

.tasks .todo .todo-list .card .card-body .done-priority-green {
  color: #66B266;
  font-size: medium;
  float: right;
  padding-top: 1rem;

}

