.todo {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
}

.todo .task {
  color: #102C57;
  font-weight: lighter;
  font-size: medium;
  padding-right: 1rem;
}

.todo .due {
  color: #102C57;
  font-weight: lighter;
  font-size: medium;
  padding-right: 1rem;
  text-decoration: underline 0.5px;
}

.todo .todo-list .card .card-body .done-check {
  color: #102C57;
  font-size: medium;
  float: right;
  /* padding-top: 1rem; */
}

.todo .todo-list .card .card-body>p {
  color: #102C57;
  font-size: medium;
  float: left;
}

.todo .todo-list .card .card-body .priority-red {
  color: #F6685E;
}

.todo .todo-list .card .card-body .priority-yellow {
  color: #FFC04C;
}

.todo .todo-list .card .card-body .priority-green {
  color: #66B266;
}