.todo {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
}
.todo > p {
  color: #FFFFFF;
  font-weight: lighter;
  font-size: small;
}

.todo .todo-list .card .card-body .done-check {
  color: #9E78CF;
  font-size: medium;
  float: right;
  padding-top: 1rem;
}

.todo .todo-list .card .card-body  > p {
  color: #9E78CF;
  font-size: medium;
  float: left;
  padding-top: 1rem;
}
